* {
    /* border: 1px solid black; */
    margin: 0;
}

body,html{
    height: 100%;
}

h1 {
    font-family: Calibri, sans-serif;
    font-size: 1.5em;
    color: rgb(8, 42, 94);
}

h3 {
    font-family: Candara, Arial, sans-serif;
    font-size: 3em;
    margin-right: 10px;
}

h2 {
    font-family: 'Candara', Arial, sans-serif;
    font-size: 1em;
    color: rgb(112, 203, 244);
    padding-right: 10px;
}

h2 span {
    font-size: 1.3em;
}

h4 {
    font-family: Candara, Arial, sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: rgb(8, 42, 94);
}

p {
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(115, 120, 133);
}
.logo{
    width: 10%;
}
img {
    max-width: 100%;
    height: auto;
}
.global,.card,.name,title,.note,.traveInfo,.price,.moreInfo,.clearance,.payment {
    display: flex;
}
.global{
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;
}
.card {
    flex-direction: column;
    width: 100%;
}
.cardInfo {
    min-width: 85%;
}

.name,
.title {
    justify-content: flex-start;
    align-items: flex-start;
}

.name img {
    max-width: 20px;
}

.note {
    align-items: baseline;
}

.travelInfo,
.payment,
.price {
    align-items: center;
}

.moreInfo{
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid;
}